@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .select-without-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
}
